<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Ahome%3A">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/image/favicon.jpg" type="image/x-icon">
    <script src="https://use.fontawesome.com/7870188998.js"></script>

</head>
<style>

    .material-icons {
        margin-right: 40px;
        margin-left: 20px;
        font-size: 46px;
    }
</style>

<body>

    <header>
        <div id="topnav">
            <h1>Hitbook</h1>
        </div>
        <div id="nav">
            <ul>

                <li><a href="/"><i class="material-icons md-light">home</i></a></li>
                <li><a href="/userPost"><i class="material-icons" >add_box</i></a></li>
                <li><a href=""><i class="material-icons">search</i> </a></li>
                <%  if(auth){  %>
                    <li><a href="/register" class="username">Username</a></li>
                    <li><a href="/logout" class="login">Logout</a></li>
                <% }else { %>
                    <li><a href="/register" class="register">Register</a></li>
                    <li><a href="/login" class="login">Login</a></li>
                    <% } %>
    </header>

