<%- include('partials/header') -%>
<%- include('partials/css/loginStyle') -%>



    <div id="home">
        <div id="home_box1">
            <center>
              
                        <h2>
                            <span class="tomato"> Clean, complete,</span> uncompromised data for everyone
                        </h2>
                        
            </center>

        </div>
        <div id="home_box2">
            <div id="login-box">
                <div>

                    <form action="/register" method="post">
                       
                        <p>Email</p>
                        <input type="text" name="username" >
                        <p>Password</p>
                        <input type="password" name="password">
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>



   
  
    <div id="bottom">
        <div id="box1">
            <!-- <h1>Team1</h1> -->
            <i class="material-icons" style="font-size:48px;color:white">email</i>


        </div>
        <div id="box2">
            <!-- <h2>You Can change Theme of this Page by entering color name</h2> -->
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
        </div>
     
    </div>

    <!-- Frontend javascripy -->
    <script src="js/frontend.js"></script>
    </body>

    </html>