<%- include('partials/header') -%>
<%- include('partials/css/loginStyle') -%>



    <div id="home">
        <div id="home_box1">
            <center>
              
                        <h2>
                            <span class="tomato"> Clean, complete,</span> uncompromised data for everyone
                        </h2>
                        
            </center>

        </div>
        <div id="home_box2">
            <div id="login-box">
                <div>
                    <h1 style="color:rgb(225, 95, 0); text-align: center; padding:20px 0px;">Register</h1>
                    <form action="/register" method="post">
                        <!-- <label for="CityInput">City Name:</label> -->
                        <h2>Email</h2>
                        <input type="text" name="username" >
                        <h2>Password</h2>
                        <input type="password" name="password">
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div id="middle1">
        <div id="middle_box1">
            <h1>Delivering real result for top</h1>
            <h1>Companies. Some of Our <span class="tomato">Success Stories.</span></h1>

        </div>


        <div id="middle_box2">
          
        </div>
    </div>
    <div id="middle2">
        <div id="middle_box1">
            <h1><span class="tomato">Build & manage </span>distributed teams like no one else</h1>

        </div>
        <div id="middle_box2">
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>

        </div>
    </div>
    <div id="middle3">
        <div id="middle_box1">
            <h1>Ready to get started?</h1>

        </div>
        <div id="middle_box2">
            <ul>
                <li>
                    <a href="contact.html" class="contact">Contact us</a>
                </li>
            </ul>

        </div>
    </div>
    <div id="bottom">
        <div id="box1">
            <!-- <h1>Team1</h1> -->
            <i class="material-icons" style="font-size:48px;color:white">email</i>


        </div>
        <div id="box2">
            <!-- <h2>You Can change Theme of this Page by entering color name</h2> -->
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
        </div>
     
    </div>

    <!-- Frontend javascripy -->
    <script src="js/frontend.js"></script>
    </body>

    </html>