<%- include('partials/header') -%>
<%- include('partials/css/userStyle') -%>


        <div id="userhome">
            <div id="home_box1">
                <h3> <%= foundUser.name %> </h3>
                <h5><%= foundUser.detail %></h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni assumenda odio repellendus rem sunt
                    atque pariatur accusantium! Error dolore veritatis magnam tenetur ipsam consequatur eius quidem,
                    beatae dolorem  accusantium! Error dolore veritatis magnam tenetur ipsam consequatur eius quidem,
                    beatae dolorem aperiam hic accusantium! Error dolore veritatis magnam tenetur ipsam consequatur eius quidem,
                   beatae dolorem aperiam hicaperiam hic!</p>
                    
            </div>
            <div id="home_box2">
                <div class="logo"><img src="/image/logo.jpg"></div>
            </div>
        </div>

        <div id="usermiddle">
            <div id="home_box1">
                <h3>Email</h3>
                <p>Address</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linkedin link</p>
                <p>Address</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linkedin link</p>   
                <p>Address</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linked in link</p>   
                <p>Address</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linkedin link</p>
                    
            </div>
            <div id="home_box2">
                <h3>Email</h3>
                <p>Address</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linkedin link</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linkedin link</p>
                <p>Address</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linkedin link</p>   
                <p>Address</p>
                <p>Mobile number</p>
                <p>github link</p>
                <p>linked in link</p>   
                <p>linked in link</p> 
            </div>
        </div>







        <!-- Frontend javascripy -->
        <script src="js/frontend.js"></script>
</body>

</html>