* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Trirong", serif;
    color: white;
    font-size: 14px;
} 

header{
  
    width: 100%;
    background-color: rgba(0, 0, 0, 0.31);
    color: rgb(255, 255, 255);
}
#topnav{
    display: flex;
    justify-content: left;
    background-color: #ffffff;
    color: #0000c2;
    height: 50px;
    padding: 0px 35px;
}
#nav {
  
    background: linear-gradient(119.54deg,#000046,#1cb5e0);
    color: black;
    width: 100%;
    height: 45px;
    /* border: 1px solid black; */
}
 #nav ul {
    display: inline-block;
    margin: 2px 0px;
}
#nav ul li {
 display: inline;
 padding: 25px 5px;
 margin: 10px 5px;

}
ul li a:hover{
 color: rgb(0, 60, 255);
}
#nav .material-icons{
    color: rgb(255, 255, 255);
    margin: 3px 10px 3px 50px;
    font-size: 2.3rem;
}
#nav .material-icons:hover{
    color: rgb(0, 60, 255);
}
.tomato {
    color: tomato;
}
header .login{
    background: linear-gradient(119.54deg,#ffffff,#ffffff);
    color: rgb(0, 16, 236);
    font-weight: bolder;
    position: absolute;
    top: 55px;
    right: 10px;
    padding: 3px 10px;
    border-radius: 4px;
}
header .register{
    background: linear-gradient(119.54deg,#ffffff,#ffffff);
    color: rgb(0, 16, 236);
    position: absolute;
    top: 55px;
    right: 90px;
    padding: 3px 10px;
    border-radius: 4px;
}
header .username{
    background: linear-gradient(119.54deg,#ffffff,#ffffff);
    color: rgb(17, 0, 255);
    position: absolute;
    top: 55px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
header #profile-box{
    background-color: white;
    position: absolute;
    top: 95px;
    right: 30px;
}
header #profile-box li{
    padding: 0px 15px 0px 5px;
    display: block;
}
header #profile-box hr{
    opacity: 0.4;
}
header #profile-box li:last-child {
   color: black;
   margin: 0%;
   padding: 5px 5px 5px 10px;
   
  }
.contact {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 3px 10px;
    border-radius: 40px;
}

#home {
    display: flex;
    width: 100%;
    padding: 60px 0px 40px;
    background: linear-gradient(119.54deg,#004f57 35% ,rgb(7, 216, 223));
    /* border: 1px solid red; */
}

#home #home_box1 {
    display: flex;
    justify-content: center;
    padding: 150px 30px 0px 0px;
    width: 60%;
    /* border: 1px solid black;     */
}

#home #home_box2{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 55%;
    padding: 40px;
    /* border: 1px solid black; */
}

#home #home_box2 #temp-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    padding:30px 10px;
    background-color: white;
    color: black;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    /* border: 1px solid black; */
}

#home #home_box2 input{
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(5, 0, 0);
    color:rgb(0, 0, 0);
    margin: 10px 0px ;
    padding: 7px 0px;
    text-indent: 30%;
    cursor:text;
}
#home #home_box2 .btn{
    background-image: linear-gradient(to left,#ff0000,rgb(228, 182, 0));
    color:white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    margin: 15px 0px;
    padding: 8px 33%;
    font-weight: bolder;
    font-size: 1.4rem;
    cursor: pointer;
}

#middle1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(60deg, #b10 48%, #000031 74%);
    /* border: 1px solid black; */
}

#middle1 #middle_box1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 200px;
    /* border: 1px solid black; */

}

#middle1 #middle_box2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    /* border: 1px solid black; */

}
#middle1 #middle_box2 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
 #middle1 #middle_box2 .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    
  }
#middle1 #middle_box2 .inside_box {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    height: 140px;
    background-image: linear-gradient(0deg, #ffffff -9%, #ffffff 30%);
    box-shadow:  0px 2px 2px 0px rgb(153, 153, 153);
    color: black;
    border-radius: 8px;
    margin: 14px;
    padding: 40px;
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;
}
#middle1 #middle_box2 .inside_box:hover{
    box-shadow:  0px 2px 10px 2px rgb(224, 218, 218);
    
}
#middle1 #middle_box2 .inside_box .logo {
    padding: 1px 0px 12px;
    width: 90px;
    height: 90px;
    border-radius: 100px;
}
#middle2 {
    display: flex;
    width: 100%;
    height: 450px;
     background-color: #061621;;
    /* border: 1px solid black; */
}

#middle2 #middle_box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 450px;
    padding: 0px 0px 0px 20px;
}

#middle2 #middle_box2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px;
    width: 45%;
    height: 450px;
    /* border: 1px solid black;   */
}

#middle2 #middle_box2 h2 {
    color: rgb(0, 140, 255);
}
#middle3 {
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: #000046;
    /* border: 1px solid black; */

}

#middle3 #middle_box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
   padding: 10px 0px;
    /* border: 1px solid black; */

}

#middle3 #middle_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px 0px;
    /* border: 1px solid black; */

}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061621;
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */

}

#bottom #box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    /* border: 1px solid black; */

}

#bottom #box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100px;
    /* border: 1px solid black; */

}

@media(max-width:1230px){
    #middle1 #middle_box2 .grid-container {
        grid-template-columns: auto auto auto ;
       
    }
}
@media(max-width:930px){
    #middle1 #middle_box2 .grid-container {
        grid-template-columns: auto auto ;
       
       
    }
}

@media(max-width:800px){

#nav ul li {
 margin: 0px;
}
#nav .material-icons{
 margin: 4px 10px;
 font-size: 1.9rem;
}
#home {
    flex-direction: column;  
}
#home #home_box1 {
    padding: 40px 0px;
    width: unset;
}
#home #home_box2{
    width: unset;
    padding: 20px;
    /* border: 1px solid black; */
}
    #middle1 #middle_box1{
        text-align: center;
        padding: 20px 0px;
        
    }
    #middle1 #middle_box2{
        background-color: rgb(255, 255, 255);
        
    }
    #middle1 #middle_box2 .grid-container {
        grid-template-columns: auto ;
        padding: 0px;
    }
   
     #middle1 #middle_box2 .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 30px 70px;
        
      }
      
      #middle1 #middle_box2 .inside_box {   
          width: unset;
          height: unset;
        max-width: 1000px;
        margin: 14px 0px;
      
    }
    #middle2 {
        height: unset;
       flex-direction: column;
    }
    #middle2 #middle_box1 {
        padding:30px 0px 20px 20px;
        width: unset;
        height: unset;
    }
     
    #middle2 #middle_box2 {
        width: unset;
        height: unset;
        padding: 10px 0px 50px 20px;    
    }
    #middle3{
        flex-direction: column;
        background-color: #000046;
    }
    #middle3 #middle_box1 {
        width: unset;
        
    }
    #middle3 #middle_box2 {
        width: unset;
    }
    #bottom {
        flex-direction: column;
        height: unset;
    }
 
}






